:root {
  --primary-emerald: #18b37f;
  --secondary-forest: #3f4b3b;

  --neutral-bg: #e9e9e9;
  --neutral-column: #c7c7c7;
  --neutral-card: #ffffff;

  --text-main: #1e293b;
  --text-muted: #575757;

  --priority-high: #723a3a;
  --priority-medium: #b58739;
  --priority-low: #67ae95;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ededed;
  color: var(--text-main);
  font-family:
    "Inter",
    "Plus Jakarta Sans",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  min-height: 100vh;
  padding: 24px;
  overflow-x: hidden;
}
